/* #################
####### FORM #######
################# */

.form {
  display: flex;
  flex-direction: column;
}

.form-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw;
}

.form-div label {
  margin-right: 2vw;
}

.form-button {
  display:flex;
  justify-content: center;
}

.form-button input {
  width: 96%;
  padding: 3vw;
  border-radius: 5px;
  margin: 2vw 0 45vw 0;
}

.form-button input:hover {
  background-color: #56CBF9;
}